// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}